<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <display-name>jsTests</display-name>

    <!-- servlet to map to canvas page -->

    <servlet>
        <servlet-name>INDEX</servlet-name>
        <jsp-file>/WEB-INF/pages/index.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>INDEX</servlet-name>
        <url-pattern>/index.html</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>TIMERS</servlet-name>
        <jsp-file>/WEB-INF/pages/timers.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>TIMERS</servlet-name>
        <url-pattern>/timers</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>MODS</servlet-name>
        <jsp-file>/WEB-INF/pages/modules.jsp</jsp-file>

    </servlet>
    <servlet-mapping>
        <servlet-name>MODS</servlet-name>
        <url-pattern>/mods</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>PUBSUB</servlet-name>
        <jsp-file>/WEB-INF/pages/pubsub.jsp</jsp-file>

    </servlet>
    <servlet-mapping>
        <servlet-name>PUBSUB</servlet-name>
        <url-pattern>/pubsub</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>JS</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    </servlet>

    <!--<filter>-->
        <!--<filter-name>CORS</filter-name>-->
        <!--<filter-class>com.thetransactioncompany.cors.CORSFilter</filter-class>-->
        <!--<init-param>-->
            <!--<param-name>cors.allowOrigin</param-name>-->
            <!--<param-value>*</param-value>-->
        <!--</init-param>-->
        <!--<init-param>-->
            <!--<param-name>cors.supportedMethods</param-name>-->
            <!--<param-value>GET, POST, HEAD, PUT, DELETE</param-value>-->
        <!--</init-param>-->
        <!--<init-param>-->
            <!--<param-name>cors.supportedHeaders</param-name>-->
            <!--<param-value>Access-Control-Allow-Origin, Accept, Origin, X-Requested-With, Content-Type, Last-Modified</param-value>-->
        <!--</init-param>-->
        <!--<init-param>-->
            <!--<param-name>cors.exposedHeaders</param-name>-->
            <!--<param-value>Set-Cookie</param-value>-->
        <!--</init-param>-->
        <!--<init-param>-->
            <!--<param-name>cors.supportsCredentials</param-name>-->
            <!--<param-value>true</param-value>-->
        <!--</init-param>-->
    <!--</filter>-->

    <!--<filter-mapping>-->
        <!--<filter-name>CORS</filter-name>-->
        <!--<url-pattern>/*</url-pattern>-->
    <!--</filter-mapping>-->
</web-app>
